@using NtTracker.Extensions
@using NtTracker.Resources.Shared
@model NtTracker.Models.CnsExploration

<div class="form-group">
    <label class="control-label col-md-2" for="Behavior">@SharedStrings.Behavior</label>
    <div class="col-md-10">
        <input id="Behavior" class="form-control text-box single-line" type="text" value="@Model.Behavior.ToLocalizedString()" readonly="readonly"/>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="CranialNerves">@SharedStrings.CranialNerves</label>
    <div class="col-md-10">
        <input id="CranialNerves" class="form-control text-box single-line" type="text" value="@Model.CranialNerves.ToLocalizedString()" readonly="readonly"/>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="Tone">@SharedStrings.Tone</label>
    <div class="col-md-10">
        <input id="Tone" class="form-control text-box single-line" type="text" value="@Model.Tone.ToLocalizedString()" readonly="readonly"/>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="Position">@SharedStrings.Position</label>
    <div class="col-md-10">
        <input id="Position" class="form-control text-box single-line" type="text" value="@Model.Position.ToLocalizedString()" readonly="readonly"/>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="Reflexes">@SharedStrings.Reflexes</label>
    <div class="col-md-10">
        <input id="Reflexes" class="form-control text-box single-line" type="text" value="@Model.Reflexes.ToLocalizedString()" readonly="readonly"/>
    </div>
</div>